@media screen and (min-width: 1158px) {
.container {
    width: 1158px;
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}
.hiro-section {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Office-bg-tab@1x.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    width: 100%;
}
.order-service {
    margin-top: 48px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.hiro-section {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Office-bg-tab@2x.jpg);
}
}
.header-link-email {
    font-size: 16px;
    line-height: 1.33;
}
.header-link-tel {
    font-size: 16px;
    line-height: 1.33;
    }
    @media (min-width: 1158px) {
        .container-customers {
            width: 1158px;
        }
    }
.our-team-img {
    display: flex;
    justify-content: center;
}
@media (min-width: 1158px) {
    .skills-container {
        width: 1158px;
    }
}
.skills {
    display: flex;
    gap: 24px;   
}
.skils-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: left;
}
.skils-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.skils-list {
    flex-basis: calc((100% - 3 * 24px) / 1);
}
.skils-list::before {
    display: block;
    content: '';
    height: 112px;
    background-color: #F4F4FD;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
    border-radius: 4px;
}
.icon-antenna::before {
    background-image: url(../images/antenna\ 123.svg);
}
.icon-clock::before {
    background-image: url(../images/clock\ 123.svg);
}
.icon-diagram::before {
    background-image: url(../images/diagram\ 123.svg);
}
.icon-astronaut::before {
    background-image: url(../images/astronaut\ 123.svg);
}
.img-positioning {
    flex-basis: calc((100% - 2 * 24px) / 1);
}
.options-container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
}
.subscribe-div {
    margin-left: 80px;
}
.social-div {
    margin-left: 120px;
}
.footer-container {
    width: 1158px;
    display: flex;
    justify-content: flex-start;
   row-gap: 72px; 
   margin-left: auto;
   margin-right: auto;
}
}
