@media screen and (min-width: 480px) {
    .header-container {
        height: 70px;
    }
    .container {
        width: 458px;
    }
    .menu {
        margin-left: 123px;
    }
    
    
    .hiro-section {
        width: 458px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Office-bg-tab@1x.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hiro-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Office-bg-tab@2x.jpg);
  }
}


    .order-service{
        width: 169px;
height: 56px;
    }
@media (min-width:480px) and (max-width: 767px) {
.skills-container {
    width: 326px;
}
}
@media (min-width: 480px) and (max-width: 767px) {
    .skills-container {
        width: 458px;
        padding-top: 96px;
        padding-bottom: 96px;
        margin-left: auto;
        margin-right: auto;
    }
}
    
    .skils-text {
        font-weight: 500px;
        margin-top: 8px;
    }
    
    .skils-title {
        font-size: 36px;
        line-height: 1.11;
    }
    @media (min-width: 480px) and (max-width: 767px){
        .skils-list {
            margin-bottom: 72px;
            list-style-type: none;
            flex-basis: calc((458px - 1 * 24px) / 2);
        }
    }
    
    .skils-list:last-child {
        margin-bottom: 0;
    }
    @media (min-width: 480px) and (max-width: 1157px) {
    .our-team-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    }

    .our-team-pre-title {
        font-weight: 500;
    }
    .our-team-post-title {
        font-weight: 400;
    }
    @media (min-width: 480px) and (max-width: 1157px) {
        .container-customers {
            width: 458px;
    }
}
@media (min-width: 428px) and (max-width: 767px) {
.customers-item {
    flex-basis: calc((428px - 1 * 16px) / 2);
}
}
    
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    @media (min-width: 428px) and (max-width: 767px) {
        
    .customers-list{
        display: flex;
        width: 458px;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        justify-content: flex-start;
    }
}
.subscribe-input {
    height: 40px;
    width: 396px;
}
.footer {
    padding-bottom: 96px;
    padding-top: 96px;
}
@media (min-width: 480px) and (max-width: 767px) {
    .footer-container {
        width: 458px;
        margin-left: auto;
        margin-right: auto;
    }
}
.footer-container {
    display: flex;
    justify-content: center;
   row-gap: 72px; 
}

}