@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .skills-container {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .skils-text {
        font-weight: 500px;
        margin-top: 8px;
        margin-bottom: 72px;
    }
    
    .skils-title {
        font-size: 36px;
        line-height: 1.11;
        margin-left: 16px;
    }
    .skills {
        display: flex;
    flex-wrap: wrap;
    }
    .skils-list {
        list-style-type: none;
        flex-basis: calc((100% - 1 * 24px) / 2);
}
.skils-list:nth-child(2n + 1) {
    margin-right: 24px;
}
}