@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .skills-container {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .skils-text {
        font-weight: 500px;
        margin-top: 8px;
        margin-bottom: 72px;
    }
    
    .skils-title {
        font-size: 36px;
        line-height: 1.11;
    }
    .skills {
        display: flex;
    flex-wrap: wrap;
    gap: 24px;
    }
    .skils-list {
        list-style-type: none;
        flex-basis: calc((100% - 1 * 24px) / 2);
}
}