@media screen and (min-width: 768px) {
    .header-container {
        height: 70px;
    }
    .container {
        width: 736px;
    }
    @media (min-width: 768px) and (max-width: 1157px) {
        .container-customers {
            width: 582px;
        }
    }
    @media (min-width: 768px) and (max-width: 1157px) {
        .customers-list {
            width: 582px;
        }
    }
    .menu {
        display: flex;
        margin-left: 123px;
    }

    .hiro {
        font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
width: 492px;
height: 120px;
   text-align: center;
   margin: auto;
    }
    .header-contacts {
        display: block;
        padding-top: 24px;
    }
    @media (max-width: 1157px) {
        .header-link-email {
            margin-bottom: 4px;
            font-size: 12px;
            line-height: 1.33;
        }
    }
    @media (max-width: 1157px) {
    .header-link-tel {
        font-size: 12px;
        line-height: 1.33;
        }
    }    

    .hiro-section {
        width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Office-bg-tab@1x.jpg);
    }
    @media (max-width: 1157px) {
        .hiro-section {
        padding-top: 112px;
        padding-bottom: 108px;
        }
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hiro-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Office-bg-tab@2x.jpg);
  }
}


    .order-service{
        width: 169px;
height: 56px;
        margin-top: 40px;
    }
    @media (min-width: 768px) and (max-width: 1157px) {
        .skills-container {
            width: 766px;
            padding-top: 96px;
            padding-bottom: 96px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media (min-width: 768px) and (max-width: 1157px) {
        .skils-list {
            list-style-type: none;
            flex-basis: calc((736px - 1 * 24px) / 2);
        }
    }
   
    @media (max-width: 1157px) {
        .skils-text {
            font-weight: 500px;
            margin-top: 8px;
        }
    }
    
    .skils-title {
        font-size: 36px;
        line-height: 1.11;
    }
    
    @media (max-width: 1157px) {
        .skills {
            display: flex;
            flex-wrap: wrap;
            row-gap: 72px;
            column-gap: 24px;   
        }
      }
    
    .skils-list:last-child{
        margin: 0;
    }
    .team {
        padding-top: 96px;
        padding-bottom: 104px;
    }
    
    .our-team-img {
        display: flex;
    }
    .our-team-pre-title {
        font-weight: 500;
    }
    .our-team-post-title {
        font-weight: 400;
    }
    
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .customers-list{
        row-gap: 72px;
        column-gap: 24px;
    }
    .customers-item {
        flex-basis: calc((552px - 2 * 24px) / 3);
}
.footer {
    padding-bottom: 96px;
    padding-top: 96px;
} 
.footer-container {
    width: 496px;
    display: flex;
    justify-content: flex-start;
   row-gap: 72px; 
}
@media (min-width: 768px) and (max-width: 1157px) {
.social-div {
    margin-left: 24px;
}
}

.footer-logo-soc-div {
    display: flex;  
}

@media (max-width: 767px) {
    .footer-logo-soc-div {
        margin-right: 164px;
    }
}
.subscribe-form {
    display: flex;
    align-items: center;
}
.subscribe-title {
    text-align:left;
}
.subscribe-input {
    height: 40px;
    width: 264px;
}
.btn-subscribe {
    margin-left: 24px;
}
}